@font-face {
  font-family: "milkyway";
  src: url("assets/milkyway.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#message {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

h1 {
  font-family: "milkyway";
  font-weight: 200;
  color: #1765f9;
  text-align: center;
}

input {
  width: 40px;
  height: 40px;
  border: none;
  font-family: "milkyway";
  text-align: center;
  font-size: inherit;
  color: #1765f9;
}

input:active {
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}

td {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid black;
  font-size: 1.3rem;
}

/* Outline of the board */
tr:first-child td {
  border-top: 2px solid #000;
}
tr:last-child td {
  border-bottom: 2px solid #000;
}
td:first-child {
  border-left: 2px solid #000;
}
td:last-child {
  border-right: 2px solid #000;
}

tr:nth-child(3n) td {
  border-bottom: 2px solid #000;
}

/* Every 3 columns (vertical box borders) */
td:nth-child(3n) {
  border-right: 2px solid #000;
}
